.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: rgba(140, 200, 150, .2);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 10px;
    width: 290px;
}

.card img {
    width: 165px;
    border-radius: 10px;
}

.card h3 {
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 25px;
    font-size: 25px;
}